<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="personDao" name="daoSimple"
          class="edu.spring.dao.PersonDaoSimple">
        <property name="defaultAge" value="18"/>
    </bean>

    <bean id="personService"
          class="edu.spring.service.PersonServiceImpl">
        <property name="dao" ref="personDao"/>
    </bean>

</beans>
